<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Scores</title>
<div th:replace="fragments/header :: header"></div>

<body class="hold-transition sidebar-mini">
	<!-- Site wrapper START-->
	<div class="wrapper">
		<!-- TOP Menu (all meta link scripts go here ) START -->
		<div th:replace="fragments/top-menu :: top-menu"></div>
		<!-- TOP Menu (all meta link scripts go here ) END -->
		<!-- Left side column. contains the sidebar START -->
		<div th:replace="fragments/left-menu-panel :: left-menu-panel"></div>
		<!-- Left side column. contains the sidebar END -->
		<!-- Content Wrapper. Contains page content START -->
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>League Scores</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Score</a></li>
								<li class="breadcrumb-item active">Update</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<section class="content">
				<div class="container-fluid">	
					<div class="row">
						<div class="col-12">
							<div class="box">
								<div class="box-header">
	                                <div class="alert alert-success" th:if="${successMsg != null}">
	                                    <strong>Success! </strong>
	                                    <div th:text="${successMsg}"/>
	                                </div>
	                                <div class="alert alert-warning" th:if="${warningMessage != null}">
	                                    <strong>Warning! </strong>
	                                    <div th:text="${warningMessage}"/>
	                                </div>
	                                <div class="alert alert-danger" th:if="${errorMsg != null}">
	                                    <strong>Failure! </strong>
	                                    <div th:text="${errorMsg}"/>
	                                </div>
	                            </div>
	                    	</div>
						</div>
					</div>			
				<th:block th:each="round: ${scheduleView.rounds}">
				<!--  -->
					<div class="row">
						<div class="col-12">
							<div class="box">
								<div class="card">
									<div id="12345" class="card-header scheduleHeader">
										<h3 class="card-title">Matchday <span th:text="${round.roundNumber}"></span> ( <span th:text="${#dates.format(round.roundDate, 'dd-MM-yyyy')}"></span> )</h3>
									</div>
									<div class="card-body defaultHidden">
	
										<table   id="table" class="mytable" width="100%">
											
												<thead class=""  style="margin-top: 5px;background-color:#5DADE2;">
													<tr>
<!-- 														<th style="text-align:left;" colspan="9">Matchday </th>
 -->														<!-- <th></th>
														<th></th> -->
														
														<th>#</th>
														<th>Team 1 </th>
														<th>Team 1 Score</th>
														<th></th>
														<th>Team 2 Score</th>
														<th>Team 2</th>
														<th>Team 1 Bonus</th>
														<th>Team 2 Bonus</th>
														<th>Team 1 Penalty</th>
														<th>Team 2 Penalty</th>
														<th></th>
													</tr>
												</thead>
												<tbody class="">
													<tr class="border-bottom" style="text-align:center;"  th:each="match,iter: ${round.matches}">
													
														<form method="post" th:id="'score' + ${match.id}" data-th-action="@{/admin/update/score}" th:object="${updateScore}">
														
															<input type="hidden"  th:id="'match' + ${match.id}"  name="matchId" th:value="${match.id}" >
															<td style="width:20px;text-align:center;" th:text="${iter.count}"></td>
															<td style="max-width:100px;text-align:center;font-weight: bold;" th:text="${match.teamHomeName}"></td>
															<td style="max-width:50px;text-align:center;font-weight: bold;">
																<div th:id="'scoreRow' + ${match.id}" class="form__group">
																  <input type="number" name="teamHomeScore" th:value="${match.teamHomeScore}" class="form__input" id="" placeholder="" required="" />
																</div>
															</td>
															<td style="width:15px;text-align:center;"> vs </td>
															<td style="max-width:50px;text-align:center;font-weight: bold;">
																<div class="form__group">
																  <input type="number" name="teamAwayScore" th:value="${match.teamAwayScore}" class="form__input" id="" placeholder="" required="" />
																</div>
															</td>
															<td style="max-width:100px;text-align:center;font-weight: bold;" th:text="${match.teamAwayName}"></td>
															
															<td style="max-width:50px;text-align:center;font-weight: bold;">
																<div class="form__group">
																  <input type="number" name="teamHomeBonus" th:value="${match.teamHomeBonusPoint}" class="form__input" id="" placeholder=""  />
																</div>
															</td>
															<td style="max-width:50px;text-align:center;font-weight: bold;">
																<div class="form__group">
																  <input type="number"  name="teamAwayBonus" th:value="${match.teamAwayBonusPoint}" class="form__input" id="" placeholder=""  />
																</div>
															</td>
															<td style="max-width:50px;text-align:center;font-weight: bold;">
																<div class="form__group">
																  <input type="number"  name="teamHomePenalty" th:value="${match.teamHomePenaltyPoint}"   class="form__input" id="" placeholder=""  />
																</div>
															</td>
															<td style="max-width:50px;text-align:center;font-weight: bold;">
																<div class="form__group">
																  <input  type="number" name="teamAwayPenalty" th:value="${match.teamAwayPenaltyPoint}"  class="form__input" id="" placeholder="" />
																</div>
															</td>
															<td style="max-width:50px;text-align:center;font-weight: bold;">
																<button type="submit" class="btn btn-small btn-success"><i class="nav-icon fa fa-save"></i></button>
															</td>
														</form>
														
													</tr>
													
												</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				<!--  -->
				</th:block>
					
				</div>
				<div >
				</div>
			</section>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
		<div class="control-sidebar-bg"></div>
	</div>
	<div th:replace="fragments/common-scripts :: common-scripts"></div>
	<script th:inline="javascript">
		var navigateTo = "";
		/*<![CDATA[*/
		    navigateTo = /*[[${navigateTo}]]*/ '';
		/*]]>*/
	</script>
	<script type="text/javascript">
		var dataTable = null;
		$(document).ready(function(){
			
			var table = $("#table").DataTable({
				"retrieve" : true,
				"bSort" : false,
				"info" : false,
				"paging" : true,
				"searching" : false,
				"paging" : false,
				"ordering" : false,
				"autoWidth" : true,
				"deferLoading" : 57
			
			});
			dataTable = table;
			
			setTimeout(function(){
				if(navigateTo != "" || navigateTo !=  null)
				{
					var scrollId = "#scoreRow"+ navigateTo; 
					console.log(scrollId);
					$([document.documentElement, document.body]).animate({
				        scrollTop: $("#scoreRow"+ navigateTo).offset().top
				    }, 'slow');
				}
			}, 2000);
			
			
			$('.defaultHidden').hide();
		});
		
		$(".scheduleHeader").click(function() {
		    var tableBody = $(this).next();
		    if($(tableBody).is(":visible"))
		    {
		    	$(tableBody).hide();
		    }
		    else
		    {
		    	$(tableBody).show();
		    }
		});
		
		
	</script>
	<style>
	table {
	  font-family: arial, sans-serif !important;
	  border-collapse: collapse !important;
	  width: 100%;
	  overflow: scroll; /* Scrollbar are always visible */
	  overflow: auto;   /* Scrollbar is displayed as it's needed */
	}
	
	tr.border-bottom td {
        border-bottom: 1pt solid #dddddd;
     }
	
	th {
	  border: 1px solid #dddddd !important;
	  text-align: center;
	  padding: 8px !important;
	}
	
	td {
	  border: 1px 0px 1px 0px solid #dddddd !important;
	  text-align: center;
	  padding: 8px !important;
	}
	
	
	/* tr:nth-child(even) {
	  background-color: #dddddd !important;
	} */
	
	.mytable 
	{
		font-size: 12px;
	}
	
	.form__input {
	  font-family: 'Roboto', sans-serif;
	  color: black;
	  font-size: 1rem;
	   margin: 0 auto;
	  text-align:center;
	  border-radius: 0.1rem;
	  background-color: rgb(255, 255, 255);
	   border: none;
	  max-width:50px;
	  border-bottom: 0.2rem solid #dddddd;
	  
	}
	
	</style>
	
</body>
</html>