<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Standing & Schedule</title>
<div th:replace="fragments/header :: header"></div>

<body class="hold-transition sidebar-mini">
	<!-- Site wrapper START-->
	<div class="wrapper">
		<!-- TOP Menu (all meta link scripts go here ) START -->
		<div th:replace="fragments/top-menu :: top-menu"></div>
		<!-- TOP Menu (all meta link scripts go here ) END -->
		<!-- Left side column. contains the sidebar START -->
		<div th:replace="fragments/left-menu-panel :: left-menu-panel"></div>
		<!-- Left side column. contains the sidebar END -->
		<!-- Content Wrapper. Contains page content START -->
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>League</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">League</a></li>
								<li class="breadcrumb-item active">View</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="box">
								<div class="box-header">
	                                <div class="alert alert-success" th:if="${successMsg != null}">
	                                    <strong>Success! </strong>
	                                    <div th:text="${successMsg}"/>
	                                </div>
	                                <div class="alert alert-warning" th:if="${warningMessage != null}">
	                                    <strong>Warning! </strong>
	                                    <div th:text="${warningMessage}"/>
	                                </div>
	                                <div class="alert alert-danger" th:if="${errorMsg != null}">
	                                    <strong>Failure! </strong>
	                                    <div th:text="${errorMsg}"/>
	                                </div>
	                            </div>
	                    	</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-12">
							<div class="box">
								<div class="card">
									<div class="card-header">
										<div class="row">
											<div class="col-3">
												<h3 class="card-title">Standing</h3>
											</div>
										</div>
										
									</div>
									<div class="card-body">
	
										<table   id="table" class="mytable" width="100%">
												<thead style="margin-top: 5px;background-color:#5DADE2;">
													<tr>
														
														<th>#</th>
														<th>Team</th>
														<th>Played</th>
														<th>Won</th>
														<th>Draw</th>
														<th>Loss</th>
														<th>GF</th>
														<th>GA</th>
														<th>GD</th>
														<th>Bonus</th>
														<th>Penalty</th>
														<th>Points</th>
													</tr>
												</thead>
												<tbody>
													<tr class="border-bottom" style="text-align:center;"  th:each="t,iter: ${leagueView.teams}">
																											
														<td style="max-width:20px;text-align:center;" th:text="${iter.count}"></td>
														<td style="max-width:100px;text-align:left;font-weight: bold;" th:text="${t.teamName}"></td>
														<td style="max-width:50px;text-align:center;" th:text="${t.matchPlayed}"></td>
														<td style="max-width:50px;text-align:center;" th:text="${t.matchWon}"> </td>
														<td style="max-width:50px;text-align:center;" th:text="${t.matchDraw}"> </td>
														<td style="max-width:50px;text-align:center;" th:text="${t.matchLost}"> </td>
														<td style="max-width:50px;text-align:center;" th:text="${t.goalScored}"> </td>
														<td style="max-width:50px;text-align:center;" th:text="${t.goalConceded}"> </td>
														<td style="max-width:50px;text-align:center;" th:text="${t.goalDifference}"> </td>
														<td style="max-width:50px;text-align:center;" th:text="${t.totalBonusPoint}"> </td>
														<td style="max-width:50px;text-align:center;" th:text="${t.totalPenaltyPoint}"> </td>
														<td style="max-width:50px;text-align:center;" th:text="${t.totalPoints}"> </td>
														
													</tr>
													
												</tbody>
										</table>
										
									
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-12">
							<div class="box">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Schedule</h3>
									</div>
									<div class="card-body">
	
										<table   id="" class="mytable" width="100%">
											<th:block th:each="round: ${scheduleView.rounds}">
												<thead class="matchdayTableHead" style="margin-top: 5px;background-color:#5DADE2;">
													<tr>
														<th style="text-align:left;" colspan="4">Matchday <span th:text="${round.roundNumber}"></span> ( <span th:text="${#dates.format(round.roundDate, 'dd-MM-yyyy')}"></span> )</th>
														<!-- <th></th>
														<th></th> -->
													</tr>
												</thead>
												<tbody class="defaultHidden">
													<tr class="border-bottom" style="text-align:center;"  th:each="match,iter: ${round.matches}">
														<td style="width:20px;text-align:center;" th:text="${iter.count}"></td>
														<td style="width:100px;text-align:center;font-weight: bold;" th:text="${match.teamHomeName}"></td>
														<td style="max-width:100px;text-align:center;min-width:50px;" >
															<span th:if="${match.teamHomeScore != null}" th:text="${match.teamHomeScore} +' - ' + ${match.teamAwayScore}" th:remove="tag">
															</span>
															<span th:unless="${match.teamHomeScore != null}" th:remove="tag">
																vs
															</span>
														</td>
														<td style="width:100px;text-align:center;font-weight: bold;" th:text="${match.teamAwayName}"></td>
														
													</tr>
												</tbody>
											</th:block>
											

										</table>
										
									
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row" >
						<div class="col-12">
							<div class="box">
								<div class="card">
									<div class="card-header">
										<div class="row">
											<div class="col-9">
												<h3 class="card-title" th:text="${tournament.name} + '  (' + ${tournament.code} + ')'">Name</h3> 
											</div>
											<div class="col-3" style="text-align:right;">
												<a class="btn btn-primary" href="/admin/backup/create" > Backup Data</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</section>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
		<div class="control-sidebar-bg"></div>
	</div>
	<div th:replace="fragments/common-scripts :: common-scripts"></div>
	<script type="text/javascript">
		var dataTable = null;
		$(function() {
			
			var table = $("#table").DataTable({
				"retrieve" : true,
				"bSort" : false,
				"info" : false,
				"paging" : false,
				"searching" : false,
				"ordering" : false,
				"autoWidth" : true,
				"deferLoading" : 50
			
			});
			
			$('.defaultHidden').hide();
			
		}); 
		
		$(".matchdayTableHead").click(function() {
		    var tableBody = $(this).next();
		    if($(tableBody).is(":visible"))
		    {
		    	$(tableBody).hide();
		    }
		    else
		    {
		    	$(tableBody).show();
		    }
		});
		
	</script>
	<style>
	table {
	  font-family: arial, sans-serif !important;
	  border-collapse: collapse !important;
	  width: 100%;
	}
	
	tr.border-bottom td {
        border-bottom: 1pt solid #dddddd;
     }
	
	th {
	  border: 1px solid #dddddd !important;
	  text-align: center;
	  padding: 8px !important;
	}
	
	td {
	  border: 1px 0px 1px 0px solid #dddddd !important;
	  text-align: center;
	  padding: 8px !important;
	}
	
	/* tr:nth-child(even) {
	  background-color: #dddddd !important;
	} */
	</style>
	
</body>
</html>