<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Report</title>
<div th:replace="fragments/header :: header"></div>
<body class="hold-transition sidebar-mini">
	<!-- Site wrapper START-->
	<div class="wrapper">
		<!-- TOP Menu (all meta link scripts go here ) START -->
		<div th:replace="fragments/top-menu :: top-menu"></div>
		<!-- TOP Menu (all meta link scripts go here ) END -->
		<!-- Left side column. contains the sidebar START -->
		<div th:replace="fragments/left-menu-panel :: left-menu-panel"></div>
		<!-- Left side column. contains the sidebar END -->
		<!-- Content Wrapper. Contains page content START -->
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Notification</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Notification</a></li>
								<li class="breadcrumb-item active">Report</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="box">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Report</h3>
									</div>
									<div class="card-body">
										<table id="customized-table"
											class="table table-striped table-bordered customized-table"
											width="100%">
											<thead>
												<tr>
													<th>Date</th>
													<th>Type</th>
													<th>Apps</th>
													<th>Title</th>
													<th>Description</th>
													<th>URL</th>
													<th>Status</th>
													<th>Reach</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="message: ${messages}">
													<td th:text="${message.createDate}">2021-08-16</td>
													<td th:text="${message.messageContentType}">Text</td>
													<td>Android, iOS</td>
													<td th:text="${message.messageTitle}">Demo Title</td>
													<td th:text="${message.messageText}">Demo Description</td>
													<td th:text="${message.messageContentUrl}" th:title="${message.messageContentUrl}" style="max-width: 125px;">http://adb.com</td>
													<td>Success</td>
													<td th:text="${message.statusDetails}">999/1600</td>
												</tr>
											</tbody>

										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
		<div class="control-sidebar-bg"></div>
	</div>
	<div th:replace="fragments/common-scripts :: common-scripts"></div>
	<script type="text/javascript">
		var dataTable = null;
		$(function() {
			var table = $("#customized-table").DataTable({
				"retrieve" : true,
				"bSort" : false,
				"info" : true,
				"paging" : true,
				"searching" : true,
				"ordering" : false,
				"autoWidth" : true,
				"deferLoading" : 57
			/*"oLanguage": {
			    "sEmptyTable": "No Coupons found"
			}*/
			});
			dataTable = table;
			dataTable.on('order.dt search.dt', function() {
				table.column(0, {
					search : 'applied',
					order : 'applied'
				}).nodes().each(function(cell, i) {
					$(cell).parent().attr("id", "row" + (i + 1));
				});
			}).draw();
			$(".dataTables_length")
					.find("select")
					.addClass(
							"custom-select custom-select-sm form-control form-control-sm");
			$(".dataTables_filter").find("input").addClass(
					"form-control form-control-sm");
		});
	</script>
	<style type="text/css">
		#customized-table .dataTables_empty {
			text-align: center !important;
		}
	</style>
</body>
</html>